<ul class="clear-list">
							<li>
								<a href="/" data-tooltip="Home"><img class="avatar avatar-42" src="img/uploads/avatar/avatar-42x42.png" alt=""></a>
							</li>
							<li>
								<a href="/app" data-tooltip="Experience"><span class="ace-icon ace-icon-experience"></span></a>
							</li>
							<li>
								<a href="/type" data-tooltip="Portfolio"><span class="ace-icon ace-icon-portfolio"></span></a>
							</li>
							<li>
								<a href="/search" data-tooltip="References"><span class="ace-icon ace-icon-references"></span></a>
							</li>
							<li class="active">
								<a href="/blog" data-tooltip="Contact"><span class="ace-icon ace-icon-contact"></span></a>
							</li>
							<li>
								<a href="/contact" data-tooltip="Blog"><span class="ace-icon ace-icon-blog"></span></a>
							</li>
						</ul>
