<div class="ace-head-inner">
                 <div class="ace-head-container ace-container">
                     <div class="ace-head-row">
                         <div id="ace-head-col1" class="ace-head-col text-left">
                             <a id="ace-logo" class="ace-logo" href="/">
                                <img src="img/uploads/brand/logo.svg" alt="ace resume"><span>.Certy</span>
                             </a>
                         </div>
                         
                         <div id="ace-head-col2" class="ace-head-col text-right">
                             <div class="ace-nav-container ace-container hidden-sm hidden-xs">
                                 <nav id="ace-main-nav">
                                    <ul class="clear-list">
										<li><a href="/">首页</a></li>
										<li><a href="/app">应用</a>
										<li><a href="/type">分类</a></li>
										<li><a href="/search">搜索</a></li>
										<li><a href="/blog">博客</a></li>
										<li><a href="/contact">联系</a></li>
									</ul>
                                 </nav>
                             </div>
                         </div>
                         
                         <div id="ace-head-col3" class="ace-head-col text-right">
                             <button id="ace-sidebar-btn" class="btn btn-icon btn-light btn-shade">
                                 <span class="ace-icon ace-icon-side-bar-icon"></span>
                             </button>
                         </div>
                     </div>
                 </div>
             </div>